<div class="card__inner"
     [class.card__inner--raised]="raised"
     [class.card__inner--highlighted]="highlighted"
     [class.card__inner--clickable]="clickable"
     [style.background-color]="cardColor()">
    <span class="card-number card-number--top-left card-number--small">
        {{card?.value}}
    </span>
    <span class="card-number card-number--center">
        {{card?.value}}
    </span>
    <span class="card-number card-number--bottom-right card-number--small">
        {{card?.value}}
    </span>
</div>
