:host() {
    cursor: default;
    user-select: none;
}

.card__inner {
    border: solid 1px #bbb;
    box-shadow: 0 0 .66vw #000;
    border-radius: 3px;
    background-color: #444;
    width: 3vw;
    height: 6vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &.card__inner--clickable {
        cursor: pointer;
    }

    &.card__inner--raised {
        box-shadow: 0 0 1vw #000;
        transform: scale(1.02) translate(0, 1vh);
    }

    &.card__inner--highlighted {
        background-color: #fff;
        color: #000;
    }
}

.card-number {
    &.card-number--small{
        font-size: 0.5vw;
    }

    &.card-number--top-left {
        position: absolute;
        top: 0.1vh;
        left: 0.1vh;
    }

    &.card-number--bottom-right {
        position: absolute;
        bottom: 0.1vh;
        right: 0.1vh;
        transform: rotate(180deg);
    }
}

@media (max-width: 1024px) {
    .card-number {
        &.card-number--top-left {
            display: none;
        }
    
        &.card-number--bottom-right {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .card__inner {
        width: 4vw;
    }
}