<div class="card-stack">
    <app-card *ngFor="let card of stack?.cards; let cardIndex = index"
              [card]="card"
              class="card"
              [raised]="stack?.isNext && cardIndex === stack?.cards.length - 1"
              [highlighted]="stack?.isNext && stack?.canMoveToGoal && cardIndex === stack?.cards.length - 1"
              [clickable]="stack?.isNext && stack?.canMoveToGoal && cardIndex === stack?.cards.length - 1"
              (click)="cardClicked(cardIndex)"></app-card>
</div>
