<input type="button"
       value="&#x25BC;"
       (click)="addClicked()"
       class="colbutton colbutton--add"
       [disabled]="!column?.canPush" />
<div class="card-column">
    <app-card *ngFor="let card of column?.cards; let cardIndex = index"
              [card]="card"
              class="card"
              [moveable]="column?.canPop && cardIndex === column?.cards.length - 1"></app-card>
</div>
<input type="button"
       value="&#x25BC;"
       (click)="removeClicked()"
       class="colbutton colbutton--remove"
       [disabled]="!column?.canPop" />
